.side {
    /*width: 100%;*/
    float: right;
    margin: 15px;
    min-width: 1px;
}

.side .box,
body.trollboxPage .trollbox {
    border: 1px solid #b3d5d6;
    margin-bottom: 15px;
}

.side .box .head,
body.trollboxPage .trollbox .head {
    height: 40px;
    background-color: #b3d5d6;
    border-bottom: 1px solid #0b7076;
    font-size: 22px;
    line-height: 40px;
}

.side .box .head .name,
body.trollboxPage .trollbox .head .name {
    margin: 0 10px;
    color: #3a4449;
    text-transform: uppercase;
}

.side .messageBox {
    font-size: 13px;
    background-color: #f3f7f7;
    border-top: 1px solid #b3d5d6;
    max-height: 1000px;
    padding: 10px;
}

#TrollboxContainer .trollbox .trollboxTable a,
body.trollboxPage .trollbox .trollboxTable a {
    cursor: pointer;
}

#TrollboxContainer .trollbox .trollboxTable,
body.trollboxPage .trollbox .trollboxTable {
    font-size: 12px;
}

#TrollboxContainer .trollbox .trollboxTable td,
body.trollboxPage .trollbox .trollboxTable td {
    padding: 3px 13px 3px 10px;
    word-wrap: break-word;
    line-height: initial;
    word-break: break-word;
}

#TrollboxContainer .trollbox .data,
body.trollboxPage .trollbox .data {
    background: #f9fbfb;
    height: 270px;
    max-height: 2500px;
}

a:hover {
    text-decoration: underline;
}

#trollbox-scroll {
    overflow: scroll;
}

a.standard:hover,
.matchLink:hover,
.matchlink:hover,
p>a:hover {
    color: #e39706;
}

.send,
.clear {
    padding: 6px;
    margin: 0;
    border-radius: 0;
    color: #fff;
    background-color: #0b7076;
}
