<div id="TrollboxContainer" class="side">
    <div class="box trollbox">
        <div class="head">
            <div class="name">Trollbox</div>
        </div>
        <div class="data" id="trollbox-scroll">
            <div class="trollContainer">
                <div id="trollbox" class="trollbox">
                    <table id="trollboxTable" class="trollboxTable">
                        <tbody *ngFor="let ch of chats">
                            <tr id={{ch.$key}}>
                                <td><strong><a><span>{{ch.username}}: </span></a>
                                  </strong>{{ch.text}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="messageBox">
            <div class="msg">
                <form>
                    <input type="text" name="chat.text" [(ngModel)]="chat.text">
                    <button type="submit" (click)="send()">Send</button>
                </form>
                <a [routerLink]="['/login']" class="standard" id="loginLink">Sign In</a> or <a [routerLink]="['/signup']" class="standard">Create an Account</a> to chat.
            </div>
        </div>
    </div>
</div>
