<div class="sellOrders mainBox">
  <div class="head">
    <div class="name">Sell Orders</div>
    <div class="info">
      <div class="desc">Total:</div>
      <div class="details">
        <div class="num" id="asksTotal">3312.56278246</div>
        <div class="currency">USD</div>
      </div>
    </div>
  </div>
  <div class="data">
    <table class="dataTable">
      <thead>
        <tr>
          <th>BTC/USD</th>
          <th>BTC</th>
          <th>USD</th>
          <th>Sum(USD)</th>
        </tr>
      </thead>
    </table>
    <table id="sellOrderBookTable" class="dataTable">
      <tbody id="asksTableBody">
        <tr id="0.00746996asks" class="odd">
          <td class="orderRate">967.00746996</td>
          <td class="orderAmount">1.46862901</td>
          <td class="orderTotal">1418.85800000</td>
          <td class="orderSum">1418.85800000</td>
        </tr>
        <tr id="0.00746997asks" class="even">
          <td class="orderRate">0.00746997</td>
          <td class="orderAmount">535.51211644</td>
          <td class="orderTotal">4.00025944</td>
          <td class="orderSum">7.85825944</td>
        </tr>
        <tr id="0.00747000asks" class="odd">
          <td class="orderRate">0.00747000</td>
          <td class="orderAmount">215.33470000</td>
          <td class="orderTotal">1.60855021</td>
          <td class="orderSum">9.46680965</td>
        </tr>
        <tr id="0.00747597asks" class="even">
          <td class="orderRate">0.00747597</td>
          <td class="orderAmount">40.94440027</td>
          <td class="orderSum">62.43205242</td>
          <td class="orderSum">9.46680965</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>