<div class="sellOrders mainBox">
  <div class="head">
    <div class="name">Sell Orders</div>
    <div class="info">
      <div class="desc">Total:</div>
      <div class="details">
        <div class="num" id="asksTotal">3312.56278246</div>
        <div class="currency">USD</div>
      </div>
    </div>
  </div>
  <div class="data">
    <table class="dataTable">
      <thead>
        <tr>
          <th>BTC/USD</th>
          <th>BTC</th>
          <th>USD</th>
          <th>Sum(USD)</th>
        </tr>
      </thead>
    </table>
    <table id="sellOrderBookTable" class="dataTable">
      <tbody id="asksTableBody" *ngFor="let order of (sellOrders | orderBooksPipe: 'rate':'asc':'10')">
        <tr id="0.00746996asks" class="odd">
          <td class="orderRate">{{order.rate}}</td>
          <td class="orderAmount">{{order.amount}}</td>
          <td class="orderTotal">{{order.total}}</td>
          <td class="orderSum">{{order.sum}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>