
li span.desc {
    font-weight: bold;
}

table {
    border-collapse: separate;
    border-spacing: 4px;
}

table.orderBook td:last-child {
    border-right: none;
}

table.orderBook td.currency {
    text-align: right;
}

.mainBox {
    width: 33%;
    float: left;
    margin: 30px 0 15px 15px;
    position: relative;
}

.buyOrders.mainBox {
    margin-left: 26px;
}

.mainBox .loading p {
    margin-top: 130px;
    color: #0b7076;
}

.mainBox .head {
    height: 30px;
    float: left;
    width: 100%;
}

.mainBox .head .name {
    font-size: 22px;
    float: left;
    text-transform: uppercase;
}

.mainBox .head .info {
    float: right;
    font-size: 12px;
    margin-top: 4px;
}

.mainBox .head .info div {
    display: inline;
}

.mainBox .head .info .num {
    font-weight: 700;
}

.mainBox .data {
    float: left;
    width: 100%;
    height: 383px;
    border: 1px solid #91abac;
    box-sizing: border-box;
    overflow: hidden;
}

.mainBox .data table {
    width: 100%;
    font-size: 12px;
    border-bottom: none;
}

.mainBox .data table th {
    cursor: default;
}

.mainBox .lendingBalances {
    height: auto;
}

table.dataTable {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

table.dataTable thead tr {
    text-align: left;
    border-bottom: none;
}

table.dataTable thead, table.dataTable th {
    white-space: nowrap;
    text-align: left;
    background-color: #b3d5d6;
}

table.dataTable th {
    cursor: pointer;
    border-left: 1px solid #e0eeee;
}

table.dataTable th.sorting .fa-caret-down {
    color: #b3d5d6;
    display: inline;
}

table.dataTable th.sorting_desc .fa-caret-down {
    color: #1e2324;
    display: inline;
}

table.dataTable td {
    text-align: right;
    border-left: 1px solid #e0eeee;
}

table.dataTable tr {
    border-bottom: 1px solid #e0eeee;
}

table.dataTable tr:nth-child(even) {
    background-color: #f3f7f7;
}
