.content {
    margin-left: 50px;
    margin-top: 20px;
}

.header {
    margin-top: 50px;
    margin-bottom: 20px;
}

a:hover {
    color: #e39706;
}

h4 {
    color: #0b7076;
}

.row {
    margin-left: 0;
}

a {
    margin-left: 0;
}
