<div class="header">
  <div class="logo">
    <a [routerLink]="['']"><img src="../../assets/virtex.png" alt="VirtEx Cryptocurrency Exchange"></a>
  </div>
  <simple-notifications [options]="options"></simple-notifications>

  <div class="tabs">
    <ul>
      <li><a [routerLink]="['exchange']">Exchange</a></li>
      <li><a [routerLink]="['news']">News</a></li>
      <li><a [routerLink]="['terms']">Terms</a></li>
      <li><a [routerLink]="['faq']">FAQ</a></li>
      <li><a [routerLink]="['support']">Support</a></li>
    </ul>
  </div>

  <div class="tabs right loggedOut" *ngIf="!(_af.auth | async)">
    <ul>
      <li class="message">
        <span class="title"><a [routerLink]="['login']">Sign in</a> or <a [routerLink]="['signup']">Create an Account</a><span class="desktopNav"> to start trading.</span></span>
      </li>
    </ul>
  </div>

  <div class="tabs right" *ngIf="_af.auth | async">
    <ul>
      <li>
        <span class="title">Balances</span>
        <ul>
          <li><a href="#">Transfer Balances</a></li>
          <li><a href="#">Deposits &amp; Withdrawals</a></li>
          <li><a href="#">History</a></li>
        </ul>
      </li>
      <li>
        <span class="title">Orders</span>
        <ul>
          <li><a href="#">My Open Orders</a></li>
          <li><a href="#">My Trade History</a></li>
        </ul>
      </li>
      <li><a [routerLink]="['/profile']">My Profile</a></li>
      <li>
        <a (click)="onLogout()" style='cursor: pointer'>Logout</a>
</li>
</ul>
</div>
</div>