<div class="header">
  <div class="logo">
    <a [routerLink]="['']"><img src="../../assets/virtex.png" alt="VirtEx Cryptocurrency Exchange"></a>
  </div>

  <div class="tabs">
    <ul>
      <li><a [routerLink]="['exchange']">Exchange</a></li>
      <li><a [routerLink]="['news']">News</a></li>
      <li><a [routerLink]="['terms']">Terms</a></li>
      <li><a [routerLink]="['faq']">FAQ</a></li>
      <li><a [routerLink]="['support']">Support</a></li>
    </ul>
  </div>

  <div class="tabs right loggedOut">
    <ul>
      <li class="message">
        <span class="title"><a [routerLink]="['login']">Sign in</a> or <a [routerLink]="['signup']">Create an Account</a><span class="desktopNav"> to start trading.</span></span>
      </li>
    </ul>
  </div>
</div>