#marketTables.filtered .marketsTable, #marketTables.filtered .trollContainer {
    float: left;
}

.side {
    float: right;
    margin: 15px;
    min-width: 1px;
    flex: 0 0 370px;
}

@media only screen and (max-width: 1300px) {
    .side {
        margin-left: 10px;
    }
}

.side .box, body.trollboxPage .trollbox {
    width: 100%;
    float: left;
    border: 1px solid #b3d5d6;
    margin-bottom: 15px;
}

.side .box .head, body.trollboxPage .trollbox .head {
    position: relative;
    height: 40px;
    width: 100%;
    background-color: #b3d5d6;
    border-bottom: 1px solid #0b7076;
    font-size: 22px;
    line-height: 40px;
}

.side .box .head:after, body.trollboxPage .trollbox .head:after {
    content: "";
    display: table;
    clear: both;
}

.side .box .head .settings, body.trollboxPage .trollbox .head .settings {
    font-size: 11px;
    float: right;
    margin: 0 5px 0 0;
}

.side .box .head .name, body.trollboxPage .trollbox .head .name {
    float: left;
    margin: 0 10px;
    color: #3a4449;
    text-transform: uppercase;
}

.side .box .head .social, body.trollboxPage .trollbox .head .social {
    float: right;
    margin-right: 10px;
    color: #43575e;
}

.side .box .head .social a:hover, body.trollboxPage .trollbox .head .social a:hover {
    color: #2e3c41;
}

.side .box .head .social a i, body.trollboxPage .trollbox .head .social a i {
    margin: 0;
}

.side .messageBox {
    font-size: 13px;
    background-color: #f3f7f7;
    border-top: 1px solid #b3d5d6;
    max-height: 1000px;
    padding: 10px;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.side .messageBox * {
    box-sizing: content-box;
}

.side .messageBox form {
    width: 100%;
    margin: 5px 0;
}

.side .messageBox form input {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-clip: padding-box;
    -webkit-box-shadow: inset 0px 1px 2px #CCC;
    -moz-box-shadow: inset 0px 1px 2px #CCC;
    box-shadow: inset 0px 1px 2px #CCC;
    border: 1px solid #91abac;
}

.side .messageBox form input.full {
    width: 100%;
}

.side .messageBox form td {
    padding: 2px 0;
}

a.standard {
    font-family: sans-serif;
}

a.standard:hover, .matchLink:hover, .matchlink:hover, p > a:hover {
    color: #e39706;
}