<div class="row">
    <div class="col-md-12">
        <form>
            <input type="text" placeholder="What can we help you with?" name="search" value="">
            <button type="button" class="btn btn-lg btn-success">Search</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12"><a class="btn btn-default submit" [routerLink]="['/submit']">Submit a ticket</a></div>
</div>
<div class="row list-posts" *ngFor="let sp of supportTickets">
    <div class="row">
        <div class="col-md-6">
            <a [routerLink]="['/support', sp.$key]">{{sp.title}}</a>
            <br>
            <small>Posted by {{sp.by}} on {{sp.createdOn}}</small>
        </div>
        <div class="col-md-2">
            <img src="{{defaultAvatar}}" alt="Avatar">
        </div>
        <div class="col-md-6">
            <div>{{sp.body}}</div>
            <hr>
        </div>
    </div>
</div>
<div class="row troll-box-parent">
    <app-trollbox id="troll-box"></app-trollbox>
</div>
