* {
    margin-left: 50px;
    text-align: justify;
}

h4 {
    color: #0b7076;
}

.support-link {
    margin-left: 0;
}

.submit-ticket {
    border-radius: 0;
    color: #fff;
    background-color: #0b7076;
}

.title {
    width: 860px;
}
