<div class="header">
    <h4 class="text-center">Sumbit a ticket</h4>
    <small>Before submitting a ticket, please try looking for solution in our <a class="support-link" [routerLink]="['/support']">support page</a></small>
</div>
<div class="row">
    <form>
        <input type="text" class="title" placeholder="Write title" name="ticket.title" [(ngModel)]="ticket.title">
        <textarea placeholder="Write content" id="submit-ticket" name="ticket.body" [(ngModel)]="ticket.body" rows="20" cols="120"></textarea>
        <br>
        <button type="submit" (click)="create()" class="btn btn-lg btn-default submit-ticket">Submit</button>
    </form>
</div>
