<div class="bg">
    <div id="page-wrap">
        <section class="clearfix">
            <div class="container clearfix">
                <header>
                    <h4>Serving bitcoin industry since 2016.</h4>
                    <h5>Welcome to Virtex</h5>
                    <div>
                        <ul>
                            <li><span>BTC/USD</span>
                                <div><span><span id="dollar-sign-front" class="fa fa-usd"></span> 968.21</span>
                                </div>
                            </li>
                            <li><span>BTC/EUR</span>
                                <div><span> <span id="euro-sign-front" class="fa fa-euro">978.21</span></span>
                                </div>
                            </li>
                        </ul>
                        <a *ngIf="!(_af.auth | async)" class="login-link" [routerLink]="['/login']">Login</a>
                        <a *ngIf="_af.auth | async" class="login-link" [routerLink]="['/exchange']">Trade</a>
                    </div>
                </header>
            </div>
        </section>
    </div>
</div>
