<h3>Latest news:</h3>
<div class="wrapper">
    <div class="row news" *ngFor="let n of news">
        <div class="col-md-10">
            <a [routerLink]="['/details']">{{n.title}}</a>
            <br>
            <small>Created on </small><strong>{{n.createdOn | date:'shortDate'}}</strong>
        </div>
        <div class="col-md-2">
            <div>
                <div class="comments-count">
                    <span class="glyphicon glyphicon-comment"></span> {{n.comments}}
                </div>
            </div>
        </div>
    </div>
</div>
