<div class="buyOrders mainBox">
  <div class="head">
    <div class="name">Buy Orders</div>
    <div class="info">
      <div class="desc">Total:</div>
      <div class="details">
        <div class="num" id="bidsTotal">1819.67280262</div>
        <div class="currency">BTC</div>
      </div>
    </div>
  </div>
  <div class="data">
    <table class="dataTable">
      <thead>
        <tr>
          <th>BTC/USD</th>
          <th>USD</th>
          <th>BTC</th>
          <th>Sum(BTC)</th>
        </tr>
      </thead>
    </table>
    <table id="buyOrderBookTable" class="dataTable">
      <tbody id="bidsTableBody" *ngFor="let order of (buyOrders | orderBooksPipe: 'rate':'desc':'10')">
        <tr id="0.00746996bids" class="odd">
          <td class="orderRate">{{order.rate}}</td>
          <td class="orderAmount">{{order.amount}}</td>
          <td class="orderTotal">{{order.total}}</td>
          <td class="orderSum">{{order.sum}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>