<div class="buyOrders mainBox">
  <div class="head">
    <div class="name">Buy Orders</div>
    <div class="info">
      <div class="desc">Total:</div>
      <div class="details">
        <div class="num" id="bidsTotal">1819.67280262</div>
        <div class="currency">BTC</div>
      </div>
    </div>
  </div>
  <div class="data">
    <table class="dataTable">
      <thead>
        <tr>
          <th>BTC/USD</th>
          <th>USD</th>
          <th>BTC</th>
          <th>Sum(BTC)</th>
        </tr>
      </thead>
    </table>
    <table id="buyOrderBookTable" class="dataTable">
      <tbody id="bidsTableBody">
        <tr id="0.00745355bids" class="odd">
          <td class="orderRate">0.00745355</td>
          <td class="orderAmount">0.20124619</td>
          <td class="orderTotal">0.00150000</td>
          <td class="orderSum">0.00150000</td>
        </tr>
        <tr id="0.00745041bids" class="even">
          <td class="orderRate">0.00745041</td>
          <td class="orderAmount">40.61100000</td>
          <td class="orderTotal">0.30256860</td>
          <td class="orderSum">0.30406860</td>
        </tr>
        <tr id="0.00745036bids" class="odd">
          <td class="orderRate">0.00745036</td>
          <td class="orderAmount">40.26651061</td>
          <td class="orderTotal">0.30000000</td>
          <td class="orderSum">0.60406860</td>
        </tr>
        <tr id="0.00744774bids" class="even">
          <td class="orderRate">0.00744774</td>
          <td class="orderAmount">0.23672416</td>
          <td class="orderTotal">0.00176306</td>
          <td class="orderSum">0.60583166</td>
        </tr>
        <tr id="0.00744533bids" class="odd">
          <td class="orderRate">0.00744533</td>
          <td class="orderAmount">0.08776057</td>
          <td class="orderTotal">0.00065341</td>
          <td class="orderSum">0.60648507</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>